/* General Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #001b2e; /* Slightly darker background */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #0c010f, #1b0033, #090014, #1c0824);
      background-size: 400% 400%;
      animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8); /* Adjust background for visibility */
    color: white;
    padding: 10px 0;
    z-index: 1000; /* Makes sure it stays on top of other elements */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold; /* Improved text formatting */
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative; /* Needed for highlighting effect */
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for hover */
}

nav ul li a.active {
    background-color: #fff; /* Set a white background for active link */
    color: #333; /* Darker text color for contrast */
    border-radius: 5px; /* Rounded corners */
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: #9209dc; /* Highlight color */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}


/* Sections */
section {
    padding: 2rem;
    text-align: center;
    
}

/* Home Section */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 20px;
}

#home .intro {
    max-width: 600px;
    text-align: center;
    margin-right: 50px;
}

#home .intro h1 {
    font-size: 3.5rem;
    color: #9209dc;
    margin-bottom: 10px;
}

#home .intro h2{
    font-size: 1.75rem;
    color: #ffffff;
    margin-bottom: 20px;
}

#home .intro p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

#home .profile-pic {
    flex-shrink: 0;
}

#home .profile-pic img {
    border-radius: 8%;
    width: 300px;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

/* Projects Section */
#projects {
    padding: 60px 20px;
    text-align: center;
    
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #ffffff;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
}

.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
}

.project-item .project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-item:hover .project-name {
    opacity: 1;
}

.project-item:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
}

.skills-container {
    max-width: auto; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
}

.skills-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 10px; /* Space between grid items */
    margin: 20px 0; /* Space above and below the list */
}

.skill-button {
    background-color: #8003c3; 
    color: white; /* White text for contrast */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    padding: 25px 30px;
    font-size: 19px; /* Font size */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background and transform */
    text-align: center; /* Center text in button */
    margin-top: 5px;
    text-decoration: none;
}


.skill-button a {
    color: white; /* Link color inside the button */
}

.skills-list li {
    display: flex; /* Flexbox to center buttons within list items */
    justify-content: center; /* Center items */
    align-items: center; /* Center items vertically */
}

   /* Linked button style (buttons with links) */
   .link-button {
    background-color: #31004b; /* Distinct background color */
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #8003c3;
    border-radius: 8px; /* Rounded corners */
    padding: 25px 30px;
    font-size: 19px; /* Font size */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background and transform */
    text-align: center; /* Center text in button */
    margin-top: 5px;
    text-decoration: none;
}

/* Hover effect for linked buttons */
.link-button:hover {
    background-color: #8003c3;
    color: #ffffff;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2); /* Add a subtle shadow */
}

#skills h1 {
    font-size: 40px;;
}

#skills h2 {
    font-size: 25px;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #00274d; /* Matching button color */
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #003366;
}

/* About Section */
#about {
    padding: 2rem;
    max-width: 1100px;
    margin: 25px auto 0; /* Add a top margin to push it lower */
    background-color: rgba(23, 23, 23, 0.9); /* Darker background with transparency */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: left;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff; /* Highlight color */
}

#about h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #9209dc;
}

#about h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

#about p, #about ul {
    margin-bottom: 1rem;
}

.experience {
    margin-bottom: 2rem;
}
.section-divider {
    border: none;
    border-top: 2px solid #9209dc; /* Same color as other dividers */
    margin: 2rem 0; /* Spacing above and below the line */
}
.soft-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.soft-skills li {
    background-color: #8003c3 ;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold; 
}

/* Back Button Styling */
.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #003366; /* Darker blue background */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
    background-color: #00274d; /* Darker shade on hover */
    transform: scale(1.05); /* Slight scale effect */
}

.typewriter h1 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .18em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 1.8s steps(20, end),
      blink-caret .8s step-end infinite;
    width: 400px; /* Initial width of the text container */
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

/* Container for your content and overlay image */
.background-container {
    position: relative; /* Allows absolute positioning of overlay image */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Ensure no overflow from the image */
}

/* Styling for the overlay image */
.overlay-image {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 15%;
    height: auto; 
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    opacity: 0.6; /* Adjust transparency here */
    pointer-events: none; /* Ensures clicks pass through to underlying content */
    z-index: 1; /* Ensure the image is layered below the content */
}

/* Example content styling */
.content {
    position: relative;
    z-index: 2; /* Ensures content is on top of the overlay image */
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

footer a {
    color: #9209dc;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #e73c7e;
}

.back-button {
    position: fixed;
    bottom: 30px; 
    left: 20px; /* Distance from left */
    background-color: #8003c3; /* Primary blue color */
    color: white;
    padding: 12px 20px; /* Increase padding for a larger button */
    font-size: 16px; /* Larger font size for better readability */
    font-weight: 600; /* Slightly bolder text */
    border-radius: 50px; /* Rounded button */
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow for depth */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
}


.back-button.visible {
    opacity: 1; /* Show when visible */
    visibility: visible; /* Show when visible */
}

.back-button:hover {
    background-color: #4d0076; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.back-button:active {
    background-color: #190026; /* Even darker blue when active */
    transform: translateY(0); /* Reset lift on click */
}

/* Thumbnail styling */
.thumbnail {
    width: auto;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 5px;
}

h1, p {
    display: inline-block;
    vertical-align: middle;
}